body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.nav-container, .Home>*{
  padding-left: 20%;
  padding-right: 20%;
}
nav{
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 160px;
  align-items: center;
  height: 80px;
  
}
.nav-container{
    background-color: #404EED;
}
li{
  list-style: none;
}
a{
  text-decoration: none;
  color: white; 
}
li a:hover{
text-decoration: underline;
}
#logoHome{
  width: 120px;
}
.navBarLinks{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 40px;
  font-weight: bold;
}
#login{
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 16px;
  padding-right: 16px;
  background-color: white;
  color: black;
  border-radius: 20px;
  font-size: 14px;
}

.heroText h1{
  margin: 0;
}
.imagine{
  background-color: #404EED;;
}
.hangout,.reliable{
  background-color: #F0F0F0;
}